altgraph==0.17.5
certifi==2026.7.22
charset-normalizer==3.5.1
colorama==0.4.6
idna==3.19
packaging==26.3
pefile==2024.8.26
Pillow==11.3.0
PyInstaller==6.22.2
pyinstaller-hooks-contrib==2026.7
pywin32-ctypes==0.2.3
qrcode==8.2
requests==2.32.5
setuptools==84.0.0
urllib3==2.8.0
